<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Dispositivo</title>
</head>
<body>
    <div class="container">
        <div class="form-top">
            <h2>Nuevo <span>Dispositivo</span></h2>
        </div>
        <form action="" class="form-reg">
            input
        </form>
    </div>
    
</body>
</html>